<!DOCTYPE html>
<!-- saved from url=(0066)http://dmolinarius.github.io/demofiles/elc-d3/cours3/example1.html -->
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Media Player</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>


    <body onload="changeSong()" >

        <header>
            zjefbhezfbh
        </header>

        
        <div id="allPage"> 
            <div class = "bandeau" id="leCote">
            </div>
            <div class = "mainPage">
                <div class="frontMusic">
                    <div class="canva">
                        <div class="imageFront">
                            <!-- <img src="http://localhost:3000/get/image" id="albumCover"/> -->
                            <img src="images/SawanoCover.jpg" id="albumCover"/>
                        </div>
                        <div class="texteFront">
                            <h3>Titre</h3>
                            
                            <h1 id="h1_Titre" onclick="modif()">Remember</h1></a>
                            
                            <div class="infosall">
                                <h3 id="infos">Sawano Hiroyuki, 2012, </h3>
                                <h3 id="infos_album">Sawano Hiroyuki, 2012</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="folders" id="folders">
                </div>

            </div>

        </div>

        
    </body>


    <script>
        display_artist();
        

        
        function modif(){
            location.href="/listen"
        }

        function display_artist(){
            const liste_artiste="<%= liste %>".split(",");
            // console.log(liste_artiste[0]);
            const folders_div = document.getElementById("folders");
            const side_div = document.getElementById("leCote");
            const n=liste_artiste.length;
            for (let i=0;i<n;i++){
                


                let div_artiste = document.createElement("div");
                document.createAttribute("class");
                div_artiste.innerHTML = liste_artiste[i];
                div_artiste.id = "div_artiste_"+i ;
                div_artiste.className = "div_artiste";
                div_artiste.setAttribute("alreadyclicked","false");

                a='<img id="img_artiste_0" class="img_artiste" src="http://localhost:3000/get/image/artist/' + liste_artiste[i] + '"/>'

                let div_tot = document.createElement("div");
                div_tot.className = 'container_img_txt'
                cmdfunction="display_album('" + div_artiste.id + "');"
                div_tot.setAttribute("onclick",cmdfunction);

                let div_img = document.createElement("div");
                div_img.className = 'div_img'
                div_img.innerHTML+=a;

                let div_categ = document.createElement("div");
                div_categ.className = 'div_categ';
                div_categ.innerHTML = "Artiste";
                
                div_tot.appendChild(div_img);
                div_tot.appendChild(div_artiste);
                div_tot.appendChild(div_categ);
                folders_div.appendChild(div_tot);

                // En test
                // let div_artiste_side = document.createElement("div");
                // document.createAttribute("class");
                // div_artiste_side.innerHTML = liste_artiste[i];
                // div_artiste_side.className = "div_artiste_side";
                // div_artiste_side.id = "div_artiste_"+i+"_side" ;
                // cmdfunction_side="display_album_side('" + div_artiste.id + "');"
                // div_artiste_side.setAttribute("alreadyclicked","false");
                // div_artiste_side.setAttribute("onclick",cmdfunction_side);
                // side_div.appendChild(div_artiste_side);
                //En test
            }
        }

        function display_album(artistid){

            const folders_div = document.getElementById("folders");
            
            div_artiste=document.getElementById(artistid);
            artiste_name=div_artiste.innerHTML;
            liste_albums=JSON.parse(httpGet("http://localhost:3000/get/artist/"+artiste_name)).liste_albums;
            // console.log(JSON.parse(httpGet("http://localhost:3000/get/image/album/"+"<%= liste %>")));
            const n=liste_albums.length;
            while (folders_div.childNodes.length>1) {
                    folders_div.lastChild.remove();
                }
            for (let i=0;i<n;i++){
                let div_album = document.createElement("div");
                div_album.innerHTML = liste_albums[i];
                div_album.id = "div_album_"+i+"_"+artistid;
                div_album.className = "div_album";
                div_album.setAttribute("artist",artiste_name);

                a='<img class="img_album" src="http://localhost:3000/get/image/album/' +liste_albums[i] + '"/>'

                let div_tot = document.createElement("div");
                div_tot.className = 'container_img_txt'
                cmdfunction="display_songs('" + div_album.id + "');"
                div_tot.setAttribute("onclick",cmdfunction);

                let div_img = document.createElement("div");
                div_img.className = 'div_img'
                div_img.innerHTML+=a;

                let div_categ = document.createElement("div");
                div_categ.className = 'div_categ';
                div_categ.innerHTML = "Album";
                
                div_tot.appendChild(div_img);
                div_tot.appendChild(div_album);
                div_tot.appendChild(div_categ);
                folders_div.appendChild(div_tot);


            }
        
            
            // div_artiste=document.getElementById(artistid);
            // booleen= div_artiste.getAttribute("alreadyclicked");
            // if (booleen=="false"){
            //     artiste_name=div_artiste.innerHTML;
            //     div_artiste.setAttribute("alreadyclicked", "true");
            //     liste_albums=JSON.parse(httpGet("http://localhost:3000/get/artist/"+artiste_name)).liste_albums;
            //     const n=liste_albums.length;
            //     for (let i=0;i<n;i++){
            //         let div_album = document.createElement("div");
            //         div_album.innerHTML = liste_albums[i];
            //         div_album.id = "div_album_"+i+"_"+artistid;
            //         div_album.className = "div_album";
            //         div_album.setAttribute("artist",artiste_name);
            //         div_album.setAttribute("alreadyclicked","false");
            //         cmdfunction="display_songs('" + div_album.id + "');"
            //         div_artiste.setAttribute("onclick",cmdfunction);
            //         div_artiste.appendChild(div_album);
            //     }
            // }
            // else{
            //     while (div_artiste.childNodes.length>1) {
            //         div_artiste.lastChild.remove();
            //     }
            //     div_artiste.setAttribute("alreadyclicked", "false");

            // }
            
        }


        //En test
        function display_album_side(artistid){
            div_artiste_side=document.getElementById(artistid+"_side");
            booleen= div_artiste_side.getAttribute("alreadyclicked");

            if (booleen=="false"){
                artiste_name=div_artiste_side.innerHTML;
                div_artiste_side.setAttribute("alreadyclicked", "true");
                liste_albums=JSON.parse(httpGet("http://localhost:3000/get/artist/"+artiste_name)).liste_albums;
                const n=liste_albums.length;
                for (let i=0;i<n;i++){
                    let div_album_side = document.createElement("div");
                    div_album_side.innerHTML = liste_albums[i];
                    div_album_side.id = "div_album_"+i+"_"+artistid+"_side";
                    div_album_side.className = "div_album_side";
                    div_album_side.setAttribute("artist",artiste_name);
                    div_album_side.setAttribute("alreadyclicked","false");
                    cmdfunction="display_songs('" + div_album_side.id + "');"
                    div_artiste_side.setAttribute("onclick",cmdfunction);
                    div_artiste_side.appendChild(div_album_side);
                }
            }
            else{
                while (div_artiste_side.childNodes.length>1) {
                    div_artiste_side.lastChild.remove();
                }
                div_artiste_side.setAttribute("alreadyclicked", "false");

            }
        }
        //En test






        function display_songs(albumid){

            const folders_div = document.getElementById("folders");
            
            div_album=document.getElementById(albumid);
            album_name=div_album.innerHTML;
            artiste_name=div_album.getAttribute("artist");
            liste_songs=JSON.parse(httpGet("http://localhost:3000/get/album/"+artiste_name+"/"+album_name)).liste_songs;
            const n=liste_songs.length;
            while (folders_div.childNodes.length>1) {
                    folders_div.lastChild.remove();
            }

            console.log(folders_div);
            
            let div_tot_song = document.createElement("div");
            div_tot_song.className = 'div_tot_songs';
            folders_div.appendChild(div_tot_song);

            let div_up = document.createElement("div");
            div_up.className = 'div_up';
            div_up.innerHTML="# Titre"
            div_tot_song.appendChild(div_up);

            for (let i=0;i<n;i++){
                    let div_song = document.createElement("div"); 
                    div_song.innerHTML = liste_songs[i].substring(0,liste_songs[i].length-4);
                    div_song.id = "div_song_"+i+"_"+albumid;
                    div_song.className = "div_song";
                    div_song.setAttribute("artist",artiste_name);
                    div_song.setAttribute("album",album_name);
                    div_song.setAttribute("complete_name",liste_songs[i]);
                    cmdfunction="clickSong('" + div_song.id + "');"
                    div_song.setAttribute("onclick",cmdfunction);

                    
                    div_tot_song.appendChild(div_song);
            }
            // div_album=document.getElementById(albumid);
            // booleen= div_album.getAttribute("alreadyclicked");
            // if (booleen=="false"){
            //     album_name=div_album.innerHTML;
            //     div_album.setAttribute("alreadyclicked", "true");
            //     liste_songs=JSON.parse(httpGet("http://localhost:3000/get/album/"+artiste_name+"/"+album_name)).liste_songs;
            //     const n=liste_songs.length;
            //     for (let i=0;i<n;i++){
            //         let div_song = document.createElement("div"); /*Ou audio à voir avec le GOAT du CSS*/
            //         /* let text_artiste = document.createTextNode(liste_artiste[i]); */
            //         div_song.innerHTML = liste_songs[i];
            //         /* div_artiste.appendChild(text_artiste); */
            //         div_song.id = "div_song_"+i+"_"+albumid;
            //         div_song.className = "div_song";
            //         /* cmdfunction="display_album('" + div_artiste.id + "');"
            //         div_artiste.setAttribute("onclick",cmdfunction); */
            //         div_album.appendChild(div_song);
            //     }
            // }
            // else{
            //     while (div_album.childNodes.length>1) {
            //         div_album.lastChild.remove();
            //     }
            //     div_album.setAttribute("alreadyclicked", "false");

            // }
            
        }

        function httpGet(theUrl) {
        let xmlHttpReq = new XMLHttpRequest();
        xmlHttpReq.open("GET", theUrl, false);
        xmlHttpReq.send(null);
        return xmlHttpReq.responseText;
        }

        function changeSong(){
            //changer le titre et tout
            //changer le src de audio
            document.getElementById("h1_Titre").innerHTML="<%= titre %>";
            document.getElementById("infos_album").innerHTML="<%= album %>";
            document.getElementById("infos").innerHTML= "<%= artiste %>"+', ';
            document.getElementById("albumCover").src="http://localhost:3000/get/image/album/"+"<%= album %>";
            
        }

        function clickSong(song_id){
            div_song=document.getElementById(song_id);
            artiste_name=div_song.getAttribute("artist");
            album_name=div_song.getAttribute("album");
            song_name=div_song.innerHTML;
            
            httpGet("http://localhost:3000/get/current_song_set/"+artiste_name+"/"+album_name+"/"+song_name);
            location.href="/listen";
        }
      

        

    </script>

</html>